@model IEnumerable<InformsISG.Entities.Dtos.Egitim_Personel_AtamaDTO>

@{
    ViewData["Title"] = "Index";
}


<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">EĞİTİME KATILAN PERSONEL LİSTESİ</h3>
        <div class="card-toolbar">
            <button type="button" class="btn btn-success btn-hover-rotate-end" data-bs-toggle="modal" data-bs-target="#kt_modal_1">
                YENİ EĞİTİM EKLE
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="tblBirim" class="table table-striped table-row-bordered gy-5 gs-7">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Egitime_Katilim)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sertifika_Basildi)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Egitim_Tanimla_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Personel_Id)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Egitime_Katilim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sertifika_Basildi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Egitim_Tanimla_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Personel_Id)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="card-footer">

    </div>
</div>
@section Scripts{
    <script>
        $("#tblBirim").DataTable({
            "pageLength": 50,
            language: {
                "sDecimal": ",",
                "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                "sInfo": "TOTAL kayıttan START - END arasındaki kayıtlar gösteriliyor",
                "sInfoEmpty": "Kayıt yok",
                "sInfoFiltered": "(MAX kayıt içerisinden bulunan)",
                "sInfoThousands": ".",
                "sLengthMenu": "Sayfada MENU kayıt göster",
                "sLoadingRecords": "Yükleniyor...",
                "sProcessing": "İşleniyor...",
                "sSearch": "Ara:",
                "sZeroRecords": "Eşleşen kayıt bulunamadı",
                "oPaginate": {
                    "sFirst": "İlk",
                    "sLast": "Son",
                    "sNext": "Sonraki",
                    "sPrevious": "Önceki"
                },
                "oAria": {
                    "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                    "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                },
                "select": {
                    "rows": {
                        "_": "%d kayıt seçildi",
                        "1": "1 kayıt seçildi"
                    }
                }
            },
            dom:
                "<'row'" +
                "<'col-sm-6 d-flex align-items-center justify-conten-start'>" +
                "<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
                ">" +

                "<'table-responsive'tr>" +

                "<'row'" +
                "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                ">"

        });
    </script>
}


