@model IEnumerable<InformsISG.Entities.Dtos.Egitim_Personel_AtamaDTO>

@{
    ViewData["Title"] = "PersonelAta";
    var egitimTanimId = ViewBag.egitimTanimId;
    var taliBirim = ViewBag.talibirimId;
    var deneme = ViewBag.deneme;
    var PersonelList = (List<InformsISG.Entities.Dtos.Personel_BilgiDTO>)ViewBag.PersonelList;
    var EgitimVerenPersonelList = (List<InformsISG.Entities.Dtos.Egitim_Veren_PersonelDTO>)ViewBag.EgitimVerenPersonelList;
    TempData["id"] = TempData["id"];
    int siraNo = 1;
    var PersonelListe = ViewBag.Liste;

}

<div class="card shadow-sm">
    <div class="card-body">
        <div>
            @await Component.InvokeAsync("EgitimTanimlaVeriGetir", new { Id = egitimTanimId })
        </div>
        <br /> <br /> <br /> <br />
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-header">
                                    <h3 class="card-title">EGİTİME EKLENEN PERSONEL LİSTESİ</h3>
                                </div>
                                <form asp-action="PersonelCikar">

                                    <table id="tblPersonelBilgi" class="table table-striped table-row-bordered gy-5 gs-7">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Ad Soyad
                                                </th>
                                                <th>
                                                    Sicil No
                                                </th>
                                                <th>
                                                    Tc No
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model)
                                        {
                                            @if (item.Egitim_Tanimla_Id == egitimTanimId)
                                            {
                                                @foreach (var item2 in PersonelList)
                                                {
                                                    @if (item.Personel_Id == item2.Id)
                                                    {

                                                        <tbody>

                                                            <tr>
                                                                <td>
                                                                    @item2.Ad_Soyad
                                                                </td>
                                                                <td>
                                                                    @item2.Sicil_No
                                                                </td>
                                                                <td>
                                                                    @item2.Tc_No
                                                                </td>
                                                                <td>
                                                                    <span class="form-check form-check-custom form-check-solid" style="text-align:center" id="MyDiv">
                                                                        <input class="form-check-input" type="checkbox" value="@item.Id" name="Ids" />
                                                                    </span>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    }
                                                }
                                            }
                                        }
                                    </table>
                                    <input type="submit" class="btn btn-success btn-hover-rotate-end" value="Personel Çıkar">&nbsp;

                                </form>


                                <br /> <br /> <br />
                            </div>
                            <div class="col-md-12">
                                <div class="card-header">
                                    <h3 class="card-title">EGİTİME EKLENECEK PERSONEL LİSTESİ</h3>
                                </div>
                                <div>
                                    @await Component.InvokeAsync("PersonelGetir")
                                </div>
                                <br /> <br />
                                <form asp-action="PersonelEkle">
                                    <div class="card-body">
                                        <table id="tblPersonelBilgi" class="table table-striped table-row-bordered gy-5 gs-7">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        Ad Soyad
                                                    </th>
                                                    <th>
                                                        Sicil No
                                                    </th>
                                                    <th>
                                                        Tc No
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>



                                            @foreach (var item in PersonelList)
                                            {
                                                foreach (var item2 in PersonelListe)
                                                {
                                                    if (item.Id == item2 && item.Tali_Birim_Id==taliBirim)
                                                    {
                                                        <tbody>
                                                            <tr>
                                                                <td>@siraNo</td>
                                                                <td id="attrName">
                                                                    @item.Ad_Soyad
                                                                </td>
                                                                <td class="attrValue">
                                                                    @item.Sicil_No
                                                                </td>
                                                                <td>
                                                                    @item.Tc_No
                                                                </td>
                                                                <td>
                                                                    <span class="form-check form-check-custom form-check-solid" style="text-align:center" id="MyDiv">
                                                                        <input class="form-check-input" type="checkbox" value="@item.Id" name="names" />
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                        siraNo++;
                                                    }
                                                }

                                            }




                                        </table>

                                    </div>

                                    <input type="submit" class="btn btn-success btn-hover-rotate-end" value="KAYDET">&nbsp;
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br />
            <div class="col-md-5">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="card-header">
                            <h3 class="card-title">EGİTİM VERECEK PERSONEL LİSTESİ</h3>
                        </div>
                        <table id="tblPersonelBilgi" class="table table-striped table-row-bordered gy-5 gs-7">
                            <thead>
                                <tr>
                                    <th>
                                        Ad Soyad
                                    </th>
                                    <th>
                                        Sicil No
                                    </th>
                                    <th>
                                        Tc No
                                    </th>
                                    <th>
                                        Birim
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            @foreach (var item in EgitimVerenPersonelList)
                            {
                                @if (item.Egitim_Tanimla_Id == egitimTanimId)
                                {
                                    @foreach (var item2 in PersonelList)
                                    {
                                        @if (item.Personel_Id == item2.Id)
                                        {

                                            <tbody>

                                                <tr>
                                                    <td>
                                                        @item2.Ad_Soyad
                                                    </td>
                                                    <td>
                                                        @item2.Sicil_No
                                                    </td>
                                                    <td>
                                                        @item2.Tc_No
                                                    </td>
                                                    <td>
                                                        @item2.Tali_Birim_Id
                                                    </td>

                                                    <td>
                                                        <a asp-action="EgitimVerenCikar" asp-route-id="@item.Id">
                                                            Çıkar
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        }
                                    }
                                }
                            }
                        </table>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Eğitim Veren Ekle
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <form asp-action="EgitimVerenEkle">
            <div class="modal" tabindex="-1" id="exampleModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Eğitim Veren Ekleme</h5>
                        </div>
                        <div class="modal-body">
                            <table id="tblBirim" class="table table-striped table-row-bordered gy-5 gs-7">
                                <thead>
                                    <tr>
                                        <th>Sıra No</th>
                                        <th>
                                            Personel Adı
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in PersonelList)
                                    {
                                        @if (item.IsgUzmanMi == true)
                                        {
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Ad_Soyad)
                                                </td>

                                                <td>@siraNo</td>
                                                <td>
                                                    <a asp-action="EgitimVerenEkle" asp-route-id="@item.Id" class="menu-link px-3">
                                                        Ekle
                                                    </a>

                                            </tr>
                                        }
                                        siraNo++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>

                        </div>
                    </div>
                </div>
            </div>
        </form>



    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var deleteConfirm = function (val, val2, val3, val4) {
            var t = $('#tblPersonelBilgi2').DataTable();
            /*document.getElementById('deneme').value = val;*/

            var name = val;
            var name2 = val2;
            var name3 = val3;
            var name4 = val4;
            /*$('#deneme', val).val();*/
            t.row.add(
                [
                    name,
                    name2,
                    name3,
                    name4,
                    name4,
                ]
            ).draw(false);
        };
        var table = $('#tblPersonelBilgi2').DataTable({
            columnDefs: [
                {
                    orderable: false,
                    targets: [1, 2, 3],
                },
            ],
        });
        $('#btnkaydet').click(function () {
            var data = table.$('input, select').serialize();
            veriGonder(data);
            function veriGonder(param) {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: 'PersonelAtaList',
                    data: param,
                    success: function (cvp) { alert("Kayıt yapıldı."); }

                });
            }

        });

    </script>
    @*<script>
            $(document).ready(function () {

                $(function () {

                    var t = $('#tblPersonelBilgi2').DataTable();

                    var counter = 1;
                    $('#addRow').on('click', function (a, b) {

                        var name = $('#attrName', b).val();
                        t.row.add(
                            [
                                name,
                                counter + '.2',
                                counter + '.3',
                                counter + '.4',
                                counter + '.5']
                        ).draw(false);

                        counter++;
                    });

                });
            });





                    //var t = $('#tblPersonelBilgi2').DataTable();
                    //var counter = 1;
                    //$('#addRow').on('click', function (a,b) {
                    //    var name = $('#attrName', b).text();
                    //    t.row.add(
                    //        [
                    //            name ,
                    //            counter + '.2',
                    //            counter + '.3',
                    //            counter + '.4',
                    //            counter + '.5']
                    //    ).draw(false);

                    //    counter++;


                        //var currenntRow = $(this);
                        //var deneme = $('#attrName').val($(this));
                        //var name = $('#attrName', b).text();
                        //var col = currenntRow.find("td:eq(0)").html();

                        //var value = $('.attrValue', b).text();
                        //t.row.add(
                        //    [
                        //        deneme + '.1',
                        //        counter + '.2',
                        //        counter + '.3',
                        //        counter + '.4',
                        //        counter + '.5']
                        //).draw(false);

                        //counter++;
            /*            });*/

                    // Automatically add a first row of data
            /*     $('#addRow').click();*/

        </script>*@
}


                                                               {


