@model InformsISG.Entities.Dtos.Isg_Kurul_KararDTO

<div class="row">
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title">KURUL TOPLANTI BİLGİLERİ</h3>
                <div class="card-toolbar">
                    <a href="@Url.Action("Index","Isg_Kurul_Karar")" class="btn btn-danger btn-hover-rotate-end">
                        GERİ DÖN
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <div class="text-danger"></div>
                        <div class="form-group mb-5">
                            <label asp-for="@Model.Toplanti_No" class="control-label"></label>
                            <input asp-for="@Model.Toplanti_No" class="form-control" disabled />
                            <span asp-validation-for="@Model.Toplanti_No" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="form-group mb-5">
                            <label asp-for="@Model.Toplanti_Baskan" class="control-label"></label>
                            <input asp-for="@Model.Toplanti_Baskan" class="form-control" disabled />
                            <span asp-validation-for="@Model.Toplanti_Baskan" class="text-danger"></span>
                        </div>
                    </div>      
                    <div class="col-md-4 mb-5">
                        <div class="form-group mb-5">
                            <label asp-for="@Model.Raportor" class="control-label"></label>
                            <input asp-for="@Model.Raportor" class="form-control" disabled />
                            <span asp-validation-for="@Model.Raportor" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>