@model IEnumerable<InformsISG.Entities.Dtos.Isg_Kurul_KararDTO>
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
    ViewData["Title"] = "Index";
    var KurulDosya = (List<InformsISG.Entities.Dtos.Isg_Kurul_Karar_DosyaDTO>)ViewBag.KurulDosya;
    int siraNo = 1;
    int DosyaVarMi = 0;
    int i = 1;
    var Count = ViewBag.Count;
}
<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">KURUL TOPLANTI LİSTESİ</h3>
        <div class="card-toolbar">
            <a href="@Url.Action("Create","Isg_Kurul_Karar")" class="btn btn-success btn-hover-rotate-end">YENİ KURUL TOPLANTISI EKLE</a>
        </div>
    </div>
    <div class="card-body">
        <table id="tblBirim" class="table table-striped table-row-bordered gy-5 gs-7">
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        TOPLANTI NO
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tarih)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Saat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Aciklama)
                    </th>
                    <th>DOSYA</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@siraNo</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Toplanti_No)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarih)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Saat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aciklama)
                    </td>
                    @foreach (var item2 in KurulDosya)
                    {
                        @if (item2.Isg_Kurul_Karar_Id == item.Id)
                        {
                            <td>
                                <a asp-action="DownloadFileFromFileSystem" asp-route-id="@item2.Id">Dosya</a>
                            </td>
                            DosyaVarMi = 1;
                            break;
                        }
                        DosyaVarMi = 0;
                    }
                    @if (DosyaVarMi == 0)
                    {
                        <td></td>
                    }
                    <td>
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                data-kt-menu-trigger="click"
                                data-kt-menu-placement="bottom-start">
                            İşlemler
                        </button>
                        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-100px py-4"
                             data-kt-menu="true">
                            <div class="menu-item px-3">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="menu-link px-3">
                                    Düzenle
                                </a>
                            </div>
                            <div class="menu-item px-3">
                                <a asp-action="DetailsKarar" asp-route-id="@item.Id" class="menu-link px-3">
                                    Ayrıntılar
                                </a>
                            </div>
                            <div class="menu-item px-3">
                                <a asp-action="KurulKarar" asp-route-id="@item.Id" class="menu-link px-3">
                                    Kurul Kararı Ekle
                                </a>
                            </div>
                            <div class="menu-item px-3">
                                <a asp-action="PersonelEkle" asp-route-id="@item.Id" class="menu-link px-3">
                                    Personel Ekle
                                </a>
                            </div>
                            <div class="menu-item px-3">
                                @if (Count == 0)
                                {
                                    <a asp-action="KurulKararDosyaEkle" asp-route-id="@item.Id" class="menu-link px-3">
                                        Dosya Ekle
                                    </a>
                                }
                                else
                                {
                                    @foreach (var item2 in KurulDosya)
                                    {
                                        @if (item2.Isg_Kurul_Karar_Id == item.Id)
                                        {
                                            <a asp-action="KurulKararDosyaIslem" asp-route-id="@item.Id" class="menu-link px-3">
                                                Dosya İşlemleri
                                            </a>
                                            i = 1;
                                            break;
                                        }
                                        @if (Count == i)
                                        {
                                            <a asp-action="KurulKararDosyaEkle" asp-route-id="@item.Id" class="menu-link px-3">
                                                Dosya Ekle
                                            </a>
                                            i = 1;
                                            break;
                                        }
                                        i++;

                                    }
                                }
                            </div>
                            <div class="menu-item px-3">
                                <a asp-action="GundemMaddesiEkle" asp-route-id="@item.Id" class="menu-link px-3">
                                    Gündem Başlıkları
                                </a>
                            </div>
                            <div class="menu-item px-3">
                                <a onclick="VeriSil(@item.Id,this)" class="menu-link px-3">
                                    Sil
                                </a>
                            </div>
                        </div>
                    </td>
             
                </tr>
                    siraNo++;
                }
            </tbody>
        </table>
    </div>

    <div class="card-footer">
    </div>
</div>
@section Scripts{
    <script>
        $("#tblBirim").DataTable({
            "pageLength": 50,
            language: {
                "sDecimal": ",",
                "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                 "sInfo": 'Toplam kayıttan _START_  - _END_ arasındaki kayıtlar gösteriliyor.' + "Toplam "+@ViewBag.KurulKarar + " kayıt vardır.",
                "sInfoEmpty": "Kayıt yok",
                "sInfoFiltered": "(MAX kayıt içerisinden bulunan)",
                "sInfoThousands": ".",
                "sLengthMenu": "Sayfada MENU kayıt göster",
                "sLoadingRecords": "Yükleniyor...",
                "sProcessing": "İşleniyor...",
                "sSearch": "Ara:",
                "sZeroRecords": "Eşleşen kayıt bulunamadı",
                "oPaginate": {
                    "sFirst": "İlk",
                    "sLast": "Son",
                    "sNext": "Sonraki",
                    "sPrevious": "Önceki"
                },
                "oAria": {
                    "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                    "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                },
                "select": {
                    "rows": {
                        "_": "%d kayıt seçildi",
                        "1": "1 kayıt seçildi"
                    }
                }
            },
            dom:
                "<'row'" +
                "<'col-sm-6 d-flex align-items-center justify-conten-start'>" +
                "<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
                ">" +

                "<'table-responsive'tr>" +

                "<'row'" +
                "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                ">"

        });
    </script>


    <script type="text/javascript">
       function VeriSil(ID, obj) {
            var btn = $(obj);
            Swal.fire({
                title: 'SİLME İŞLEMİ',
                text: "Silmek istediğinize emin misiniz?",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#50cd89',
                cancelButtonColor: '#f1416c',
                confirmButtonText: 'Evet Sil!',
                cancelButtonText: 'Hayır Silme!',
                showClass: {
                    popup: 'animate_animated animate_fadeInDown'
                },
                hideClass: {
                    popup: 'animate_animated animate_fadeOutUp'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: 'POST',
                        url: '@Url.Action("Delete", "Isg_Kurul_Karar")',
                        headers: {'@tokenSet.HeaderName' : '@tokenSet.RequestToken'},
                        data: { id: ID }
                    }).done(function (d) {
                        const result = $.parseJSON(d);
                        if (result.ResultStatus == 0) {
                            Swal.fire({
                                title: 'SİLİNDİ',
                                icon: 'success',
                                text: `${result.Message}`,
                                showClass: {
                                    popup: 'animate_animated animate_fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate_animated animate_fadeOutUp'
                                }
                            });
                            btn.parent().parent().parent().parent().fadeOut(1000);
                        }
                    }).fail(function () {
                        Swal.fire({
                            title: 'HATALI İŞLEM',
                            text: "Veri silinemedi",
                            icon: 'error',
                            showClass: {
                                popup: 'animate_animated animate_fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate_animated animate_fadeOutUp'
                            }
                        })
                    })
                }
            });
        }
    </script>


}