@model InformsISG.Entities.Dtos.Isg_Kurul_Karar2DTO
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@using System.Security.Claims
@{
    var currentrole = this.User.FindFirst(ClaimTypes.Role).Value;
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
    ViewData["Title"] = "KurulKarar";
    var KurulKararListe = (List<InformsISG.Entities.Dtos.Isg_Kurul_Karar2DTO>)ViewBag.KurulKararListe;
    var PersonelListe = (List<InformsISG.Entities.Dtos.Personel_BilgiDTO>)ViewBag.PersonelListe;
    int siraNo = 1;
    TempData["IsgKurulKararId"] = TempData["IsgKurulKararId"];
    var IsgKurulKararId_ = ViewBag.IsgKurulKararId_;
    long deneme = 0;
}

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">KURUL KARARLARI</h3>
        <div class="card-toolbar">
            <a href="@Url.Action("Index","Isg_Kurul_Karar")" class="btn btn-danger btn-hover-rotate-start">GERİ DÖN</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <table id="tblBirim" class="table table-striped table-row-bordered gy-5 gs-7">
                <thead>
                    <tr>
                        <th>
                            Sıra  No
                        </th>
                        <th>
                            Karar No
                        </th>
                        <th>
                            Alınan Kararlar
                        </th>
                        <th>
                            Sorumlu Kişi
                        </th>
                        <th>
                            Tamamlanma Durumu
                        </th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in KurulKararListe)
                    {
                        @if (IsgKurulKararId_ == item.Isg_Kurul_Karar_Id)
                        {

                            deneme = item.Id;
                            <tr>
                                <td>
                                    @siraNo
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Karar_No)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Alinan_Kararlar)
                                </td>
                                @foreach (var item2 in PersonelListe)
                                {
                                    @if (item.Personel_Id == item2.Id)
                                    {
                                        <td>
                                            @item2.Ad_Soyad
                                        </td>
                                    }
                                }
                                @if (item.TamamlandiMi == false)
                                {
                                    <td>
                                        Tamamlanmadı
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        Tamamlandı
                                    </td>
                                }

                                <td>
                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                            data-kt-menu-trigger="click"
                                            data-kt-menu-placement="bottom-start">
                                        İşlemler
                                    </button>
                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-100px py-4"
                                         data-kt-menu="true">
                                        @if (item.TamamlandiMi == false && currentrole.Equals("IsgUzman"))
                                        {
                                            <div class="menu-item px-3">
                                                <a onclick="KurulKararOnay(@item.Id,this)" class="menu-link px-3">
                                                    Onayla
                                                </a>
                                            </div>
                                        }

                                        <div class="menu-item px-3">
                                            <a onclick="VeriSil(@item.Id,this)" class="menu-link px-3">
                                                Sil
                                            </a>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            siraNo++;
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-footer">

    </div>
</div>



<form asp-action="KurulKarar2">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">Kurul Kararı Ekle</h3>
            <div class="card-toolbar">
                <input type="submit" class="btn btn-success btn-hover-rotate-end" value="KAYDET" id="btnkaydet">&nbsp;
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-10 mb-5">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Karar_No" class="control-label"></label>
                        <input asp-for="Karar_No" class="form-control" />
                        <span asp-validation-for="Karar_No" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-10 mb-5">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Alinan_Kararlar" class="control-label"></label>
                        <textarea rows="5" cols="40" asp-for="Alinan_Kararlar" class="form-control"></textarea>
                        <span asp-validation-for="Alinan_Kararlar" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label asp-for="Personel_Id" class="control-label"></label>

                    <div class="input-group form-group mb-5">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-check-double"></i>
                        </span>
                        <select asp-for="Personel_Id" class="form-control" asp-items="ViewBag.Personel_Id"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">

        </div>
    </div>
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function KurulKararOnay(ID, obj) {
            var btn = $(obj);
            Swal.fire({
                title: 'ONAYLAMA',
                text: "Kurul kararını onaylamak istediğinize emin misiniz?",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#50cd89',
                cancelButtonColor: '#f1416c',
                confirmButtonText: 'Evet Onayla!',
                cancelButtonText: 'Hayır Onaylama!',
                showClass: {
                    popup: 'animate_animated animate_fadeInDown'
                },
                hideClass: {
                    popup: 'animate_animated animate_fadeOutUp'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: 'POST',
                        url: '@Url.Action("KurulKararOnay", "Risk_Kutuphane")',
                        headers: {'@tokenSet.HeaderName' : '@tokenSet.RequestToken'},
                        data: { id: ID }
                    }).done(function (d) {
                        const result = $.parseJSON(d);
                        if (result.ResultStatus == 0) {
                            Swal.fire({
                                title: 'ONAYLANDI',
                                icon: 'success',
                                text: `${result.Message}`,
                                showClass: {
                                    popup: 'animate_animated animate_fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate_animated animate_fadeOutUp'
                                }
                            });
                            btn.parent().parent().parent().fadeOut(1000);
                        }
                    }).fail(function () {
                        Swal.fire({
                            title: 'ONAYLANDI',
                            text: "",
                            icon: 'success',
                            showClass: {
                                popup: 'animate_animated animate_fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate_animated animate_fadeOutUp'
                            }
                        })
                    })
                }
                setTimeout(function () {
                    location.reload();
                }, 1000)
            });
        }
    </script>



    <script type="text/javascript">
       function VeriSil(ID, obj) {
            var btn = $(obj);
            Swal.fire({
                title: 'SİLME İŞLEMİ',
                text: "Silmek istediğinize emin misiniz?",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#50cd89',
                cancelButtonColor: '#f1416c',
                confirmButtonText: 'Evet Sil!',
                cancelButtonText: 'Hayır Silme!',
                showClass: {
                    popup: 'animate_animated animate_fadeInDown'
                },
                hideClass: {
                    popup: 'animate_animated animate_fadeOutUp'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: 'POST',
                        url: '@Url.Action("KurulKararCikar", "Risk_Kutuphane")',
                        headers: {'@tokenSet.HeaderName' : '@tokenSet.RequestToken'},
                        data: { id: ID }
                    }).done(function (d) {
                        const result = $.parseJSON(d);
                        if (result.ResultStatus == 0) {
                            Swal.fire({
                                title: 'SİLİNDİ',
                                icon: 'success',
                                text: `${result.Message}`,
                                showClass: {
                                    popup: 'animate_animated animate_fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate_animated animate_fadeOutUp'
                                }
                            });
                            btn.parent().parent().parent().fadeOut(1000);
                        }
                    }).fail(function () {
                        Swal.fire({
                            title: 'HATALI İŞLEM',
                            text: "Veri silinemedi",
                            icon: 'error',
                            showClass: {
                                popup: 'animate_animated animate_fadeInDown'
                            },
                            hideClass: {
                                popup: 'animate_animated animate_fadeOutUp'
                            }
                        })
                    })
                }
            });
        }
    </script>





}
